<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
      
      <style>
table, th, td {
    border: 1px solid black;
}
</style>
  </head>

  <body ng-controller="MyController">

    <!-- CHAT MARKUP -->
    <div class='example-chat l-demo-container'>
      <h1>Huisrooster St. Annastraat 103a</h1>
        <h2>Beschrijving taken</h2>
        <p>Hier komt nog een beschrijving over wat alles is en doet</p>
        <h2>Rooster</h2>
<table id='example-messages' class='example-chat-messages'>
    <td>Startdatum</td>
    <td>Einddatum</td>
    <td>Huisgenoot</td>
    <td>Taak</td>
    <td>Gedaan op</td>
    <td>Vul in gedaan op...</td>
    <td>Commentaar</td>
    <td>Vul commentaar in...</td>
  <tr ng-repeat="msg in messages">
    <td>{{msg.date}}</td>
    <td>{{msg.beforeDate}}</td>
    <td>{{msg.huisgenoot}}</td>
    <td>{{msg.taak}}</td>
    <td>{{msg.datePerformed}}</td>
      
    
      <td><input type="text" ng-model="msg.datePerformed" ng-keydown="testFeedback($event, msg)"></td>
      <td>{{msg.comments}}</td>
      <td><input type="text" ng-model="msg.comments" ng-keydown="saveComment($event, msg)"></td>
  </tr>
</table>
    </div>

    <script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller('MyController', ['$scope', '$firebase',
        function($scope, $firebase) {
          //CREATE A FIREBASE REFERENCE
          var ref = new Firebase("https://roosterstanna.firebaseio.com/taken");

          // GET MESSAGES AS AN ARRAY
          $scope.messages = $firebase(ref).$asArray();

         
          
          // Testing feedback function
           $scope.testFeedback = function(e, msg) {
               //LISTEN FOR RETURN KEY
            if (e.keyCode === 13) {
                   $scope.messages.$save(msg);
            }

            
          }
           $scope.saveComment= function(e, msg) {
               if (e.keyCode === 13) {
                   $scope.messages.$save(msg);
               }
          }
        }
      ]);
    </script>
  </body>
</html>
